@import "../../styles/_variables.scss";

.welcome-wrapper {
    min-height: 100vh;
    height: 100%;

    .logo{
        margin-top: 20px;
    }

    a { transition: opacity 0.15s; }

    a:hover{
        opacity: 0.75;
        border-bottom: 1px dashed;
    }

    a.link-dark { color: $dark; padding: 0 5px; }
    a.link-light { color: $light; padding: 0 5px; }
    
    a.projects { background: $primary; }
    a.github { background: $secondary; }
    a.linkedin { background: $primary-alt; }
    a.twitter { background: $secondary-alt; }
    a.resume { background: $grey; }

    #projects{
        margin: 30px 0 20px 0;
        padding: 0 20px;
        font-size: 20px;

        a.project-link {
            display: block;
            line-height: 1.75em;
            border-bottom: none;
            color: $light;
            font-family: $font-stack;
            text-transform: uppercase;
            font-weight: 400;
        }
    }

    #menu {
        text-align: center;
        width: 100%;
        margin-top: 30px;

        .item:after {
            content: "/";
            visibility: visible;
            position: relative;
            top: -18px;
            right: -20px;
            padding: 0 10px 0 15px;
            color: $primary;
        }

        .item:last-child:after{
            visibility: hidden;
        }

        a {
            display: block;
            line-height: 1.75em;
            border-bottom: none;
            transition: color 0.15s;
        }
    }


    &.theme-light {
        background-color: $light;

        .welcome{
            padding: 20px;
            background-color: $light;

            h1, p, span {
                color: $primary;
            }

            #projects {
                a.project-link{
                    color: $dark;
                }

                a.project-link:hover .item{
                    background-color: $light-accent;
                    opacity: 1;
                }
                .item {
                    background-color: $light-variant;
                }
            }

            #menu {
                color: $dark;

                a {
                    color: $dark;
                }

                a:hover {
                    color: $secondary;
                }
            }
        }
    }

    &.theme-dark {
        background-color: $dark;

        .welcome{
            padding: 20px;
            background-color: $dark;

            h1, p, span {
                color: $light;
            }

            #projects {
                a.project-link{
                    color: $light;
                }

                a.project-link:hover .item{
                    background-color: $dark-accent;
                    opacity: 1;
                }

                .item {
                    background-color: $dark-variant;
                }
            }

            #menu {
                color: $light;

                a {
                    color: $light;
                }

                a:hover {
                    color: $secondary-alt;
                }
            }
        }
    }
}