@import "../../styles/_variables.scss";

.welcome-wrapper {
  min-height: 100vh;
  height: 100%;

  .logo {
    margin-top: 20px;
    max-width: 120px;
  }

  a {
    transition: opacity 0.15s;

    &:hover {
      opacity: 0.75;
      border-bottom: 1px dashed;
    }

    &.link-dark {
      color: $dark;
      padding: 0 5px;
    }
    &.link-light {
      color: $light;
      padding: 0 5px;
    }

    &.projects {
      background: $primary;
    }

    &.github {
      background: $secondary;
    }

    &.linkedin {
      background: $primary-alt;
    }

    &.twitter {
      background: $secondary-alt;
    }

    &.resume {
      background: $grey;
    }
  }

  #projects {
    margin: 30px 0 20px 0;
    font-size: 20px;

    a {
      &.project-link {
        display: block;
        line-height: 1.75em;
        border-bottom: none;
        color: $light;
        font-family: $font-stack;
        text-transform: uppercase;
        font-weight: 400;
      }
    }
  }

  #menu {
    text-align: center;
    width: 100%;
    margin-top: 30px;

    .item {
      &::after {
        content: "/";
        visibility: visible;
        position: relative;
        top: -18px;
        right: -20px;
        padding: 0 10px 0 15px;
        color: $primary;
      }

      &:last-child {
        &::after {
          visibility: hidden;
        }
      }
    }

    a {
      display: block;
      line-height: 1.75em;
      border-bottom: none;
      transition: color 0.15s;
    }
  }

  &.theme-light {
    background-color: $light;

    .welcome {
      padding: 20px;
      background-color: $light;

      h1,
      p,
      span {
        color: $primary;
      }

      #projects {
        a.project-link {
          color: $dark;

          .item {
            background-color: $light-variant;

            &:hover {
              background-color: $light-accent;
              opacity: 1;
            }
          }
        }
      }

      #menu {
        color: $dark;

        a {
          color: $dark;

          &:hover {
            color: $secondary;
          }
        }
      }
    }
  }

  &.theme-dark {
    background-color: $dark;

    .welcome {
      padding: 20px;
      background-color: $dark;

      h1,
      p,
      span {
        color: $light;
      }

      #projects {
        a.project-link {
          color: $light;

          .item {
            background-color: $dark-variant;

            &:hover {
              background-color: $dark-accent;
              opacity: 1;
            }
          }
        }
      }

      #menu {
        color: $light;

        a {
          color: $light;

          &:hover {
            color: $secondary-alt;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .welcome-wrapper {
    &.theme-dark {
      .welcome {
        #menu {
          a {
            &:hover {
              color: $light;
            }
          }
        }
      }
    }
    &.theme-light {
      .welcome {
        #menu {
          a {
            &:hover {
              color: $dark;
            }
          }
        }
      }
    }
  }
}
