@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

// Fonts
$font-stack: "Courier New", Helvetica, Arial, sans-serif;
$code-font-stack: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;

// General

// Color scheme
$dark: #1A1423;
$light: #ffffff;
$grey: whitesmoke;
$primary: #4A3460;
$secondary: #774C60;
$primary-alt: #B75D69;
$secondary-alt: #EACDC2;
$light-accent: #f8e6df;
$light-variant: whitesmoke;
$dark-accent: #2d1f3c;
$dark-variant: #20172b;